* {
  font-family: 'Raleway', sans-serif;
}

body {
  padding: 0 10px;
  width: 90vw;
  margin: 0 auto;
}
ul {
  padding-left: 0;
  list-style: none;
}

.MIDISounds {
  border: none;
  border-top: 3px solid rgb(207, 186, 165);
  display: flex;
  /* width: fit-content; */
  margin-left: auto;
}
